{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <p>Hello world!</p>
</body>
</html>
{% extends 'master_template.html' %} {% block title %} Home {% endblock %} {% block content %}
<div class="container">
  <div class="navbar">
    <p>NAV</p>
  </div>
  <div class="section-one">
    <div class="car">
      <p>CAR</p>
    </div>
    <div class="listOfCars">
      <p>LIST OF CARS</p>
    </div>
  </div>
  <div class="reviews">
    <p>REVIEWS</p>
  </div>
</div>
{% endblock %}
